* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

h1 {
  color: #9db0d1;
  font-family: "Arapey", serif;
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  margin-top: 100px;
}
.description {
  color: #000;
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin: 50px 208px;
}
.button {
  background-color: #ebac87;
  border: 0;
  border-radius: 10px;
  padding: 20px 20px;
  box-sizing: content-box;
  width: 220px;
  height: 40px;
  margin: 0 auto;
  display: block;
}
.gs {
  width: 267px;
  height: 80px;
  font-family: "Arapey";
  line-height: 32px;
  font-size: 30px;
  font-weight: normal;
  margin: auto;
  color: #fff;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: Verdana;
  font-size: 20px;
  color: #000;
  line-height: 24px;
  margin-right: 50px;
  margin-left: 15px;
}
.cloud {
  width: 100%;
  height: 400px;
  background: url(../img/clouds.png) repeat-x,
    linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87c6eb 93.06%);
}
.caption {
  width: 100%;
  position: absolute;
  margin: 250px auto;
  font-family: "Arapey";
  font-size: 40px;
  text-align: center;
  color: #000;
}
.main {
  width: 100%;
  height: 600px;
  background-color: #87c6eb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}
.circle1 {
  width: 60px;
  height: 60px;
  left: 140px;
  top: 918px;
  background: rgba(235, 172, 135, 0.4);
  border-radius: 50%;
}
.circle2 {
  width: 60px;
  height: 60px;
  left: 140px;
  top: 918px;
  background: rgba(235, 172, 135, 0.6);
  border-radius: 50%;
}
.circle3 {
  width: 60px;
  height: 60px;
  left: 140px;
  top: 918px;
  background: #ebac87;
  border-radius: 50%;
}

.article {
  width: 350px;
  height: 560px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.number {
  position: absolute;
  width: 20px;
  height: 36px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}
.ArticleText {
  width: 260px;
  height: 120px;
  flex-grow: 0;
  margin: 20px 50px 0 0;
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.important {
  font-weight: bold;
}
.registration {
  background-color: #87c6eb;
  display: flex;
  flex-direction: row;
}
.text2 {
  display: block;
  width: 600px;
  height: 132px;
  margin-left: 120px;
  padding-top: 40px;
  font-family: Arapey;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.text3 {
  display: block;
  width: 600px;
  height: 73px;
  margin-left: 120px;
  padding-top: 100px;
  padding-right: 5px;
  font-family: "Verdana";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.underline {
  text-decoration: underline;
}
.ci {
  width: 120px;
  height: 32px;
  font-family: "Arapey";
  line-height: 32px;
  font-size: 30px;
  font-weight: normal;
  margin: auto;
  color: #ebac87;
}
.ButtonCi {
  width: 220px;
  height: 80px;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  box-sizing: content-box;
  margin-top: 140px;
  margin-left: 120px;
  display: block;
}
.mountain {
  margin-right: 120px;
  margin-left: 175px;
  margin-top: 35px;
  flex-grow: 0;
  object-fit: contain;
}
.question {
  background-color: #ebac87;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  font-family: Verdana;
  font-size: 60px;
  color: #fff;
}
.footer {
  height: 180px;
}
.button1 {
  background-color: #ebac87;
  border: 0;
  border-radius: 10px;
  padding: 20px 20px;
  box-sizing: content-box;
  width: 220px;
  height: 40px;
  margin-top: 50px;
  margin-left: 120px;
}
.link {
  margin-left: 900px;
}
